<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>A9C0965E</Template><TotalTime>5</TotalTime><Application>LibreOffice/7.1.3.2$Linux_X86_64 LibreOffice_project/10$Build-2</Application><AppVersion>15.0000</AppVersion><Pages>1</Pages><Words>217</Words><Characters>1548</Characters><CharactersWithSpaces>1737</CharactersWithSpaces><Paragraphs>70</Paragraphs><Company>SenBJS</Company></Properties>